body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    max-width: 960px;
    margin: auto;
}
.container{
    text-align: center;
}
.container span{
    /* color:rgb(0, 0, 0); */
    text-transform: uppercase;
    display: block;
}
.text1{
    font-size: 60px;
    font-weight: 700;
    letter-spacing: 8px;
    /* khoang canh giua 2 dong chu */
    /* margin-bottom: 1px;  */
    position: relative;
    animation: text 3s 1;
}
.text2{
    font-size: 20px;
    color:rgb(0, 0, 0);
}
h1 {
    font-size: 3em;
    letter-spacing: .6em;
    padding-top: 1em;
    padding-bottom: 1em;
}

h2 {
    font-size: 1.5em;
    padding-bottom: 1em;
}
main { 
    display: grid;
    grid-template-columns: 40% 60%;
    margin-top: 3em;
}
header {
    text-align: center;
    margin: auto 2em;
}

section {
    margin: auto 1em 4em 2em;
}

i {
    margin-right: .5em;
}

p {
    margin: .2em auto
}

hr {
    border: none;
    background-color: lightgray;
    height: 1px;
}

h1, h2 {
    font-weight: 100;
    margin-bottom: 0;
}
#mainLeft {
    border-right: 1px solid lightgray;
}

#hor {
	/* width: 790px; */
	/* position: relative; */
	left: 10px;
	top: 39px;
	right: 10px;
    background-color: lightgray;
	font-size: 13px;
}

#hor li a {
	position: relative;
	bottom: 5px;
	color: #FFF;
	padding: 12px;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
}

#hor ul a:hover {
	color: rgb(0, 0, 0);
}

#hor ul li:after {
	/* content: url("primaryMenuBorder.png"); */
	position: relative;
	top: 3px;
}

#hor ul li:last-of-type:after {
	content: "";
}

nav {
	height: 30px;
	line-height: 35px;
	text-align: center;
}

nav ul,
nav ul li {
	display: inline;
	margin: 0px auto;
	padding: 0px;
}

.footer{
    /* position: fixed; */
    left:0;
    width: 100%;
    /* background:rgb(0, 0, 0); */
    color: black;
    text-align: center;
}

.box{
    width: 450px;
    background: lightgray;
    padding: 40px;
    text-align: center;
    margin: auto;
    margin-top: 5%;
    color: white;
      }
  .box-img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
  }
  .box h1{
    font-size: 40px;
    letter-spacing: 4px;
    font-weight: 100;
    
  }
  .box h5{
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: 100;
  }
  .box p{
    text-align: justify;
    
  }
  ul{
    margin: 0;
    padding: 0;
  }
  .box li{
    display: inline-block;
    margin: 6px;
    list-style: none;
  }
  .box li a{
    color: white;
    text-decoration: none;
    font-size: 60px;
    transition: all ease-in-out 250ms;
  }
  .box li a:hover{
    color: rgb(0, 0, 0);
  }

